* {
    padding: 0;
    margin: 0;
    font-family:"PingFang SC","Microsoft YaHei","微软雅黑";

}
img{ 
    border-style:none; 
} 
a {
    text-decoration: none;
}
.clear{
    clear: both;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.kemi-logo{
    cursor: pointer;
    float: left;
    padding-left: 15%;
    margin-top: 27px;
}
.kemi-trade{
    color: #000;
    position: absolute;
}
.kemi-trade-foot{
    position: absolute;
    color: #ccc;
}
/*.kemi-logo img{
    width: 180px;
}*/
nav {
    float: right;
    margin-right: 17%;
}
@media (max-width: 1068px){
    .kemi-logo{
        padding-left: 5%;
    }
    nav {
        float: right;
        margin-right: 0%;
    }
}
nav a {
    display: inline-block;
    margin: 30px 0px;
    padding: 0px 25px;
    border-right: 1px solid #111;
    font-size: 16px;
    color: #111;
}

nav a:nth-child(5){
    border: none;
}
.border-bot {
    border-bottom: 2px solid #ffbc00;
    padding-bottom: 7px;
}

.img-box {
    width: 100%;
    height: auto;
    font-size: 0;
}

.img-box img {
    width: 100%;
    height: 100%;
}
.kemi_footer{
    width: 100%;
    /*height: 205px;*/
    background-color: #000000;
    color: #818181;
    cursor: default;
    /*border-bottom: 1px solid #000000;*/
}
.footer-content{
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
}
.footer-content-left{
    width: 80%;
}
.footer-content-left p{
    line-height: 30px;
    font-size: 12px;
}
.footer-content-left p:nth-child(3){
    color: #808080;
    font-size: 21px;
    letter-spacing: 1px;
}
.footer-contents{
    width: 50%;
    float: left;
}
.footer-contents a{
    display: block;
    font-size: 12px;
    color: #808080;
    line-height: 30px;
    cursor: pointer;
    padding-left: 50px;
}
.footer-contents a:hover{
    color: #ffbc00;
}
.footer-contents a:nth-child(1){
    margin-top: 40px;
}
.footer-content-right{
    width: 20%;
    float: right;
    font-size: 12px;
    text-align: center;
}
.footer-content-right p{
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-content-right img{
    width: 80px;
}
.footer-content-right a{
    width: 20%;
    display: block;
}
.footer-description{
    width: 60%;
    margin: 0 auto;
    color: #808080;
    text-align: left;
    font-size: 12px;
    line-height: 45px;
    padding-left: 10px;
    border-top: 1px solid #454545;
}

/* 开始轮播 */

.bx-wrapper {
    position: relative;
    /*margin: 0 auto 60px;*/
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
        -ms-transform: translatez(0);
        -o-transform: translatez(0);
        transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

/* LOADER */

/*.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(../images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}*/

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}


