* {
    padding: 0;
    margin: 0;
    font-family:"PingFang SC","Microsoft YaHei","微软雅黑";

}
img{ 
    border-style:none; 
} 
a {
    text-decoration: none;
}
.clear{
    clear: both;
}
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.kemi-logo{
    cursor: pointer;
    float: left;
    padding-left: 15%;
    margin-top: 27px;
}
.kemi-trade{
    color: #000;
    position: absolute;
}
.kemi-trade-foot{
    position: absolute;
    color: #ccc;
}
/*.kemi-logo img{
    width: 180px;
}*/
nav {
    float: right;
    margin-right: 17%;
}
@media (max-width: 1068px){
    .kemi-logo{
        padding-left: 5%;
    }
    nav {
        float: right;
        margin-right: 0%;
    }
}
nav a {
    display: inline-block;
    margin: 30px 0px;
    padding: 0px 25px;
    border-right: 1px solid #111;
    font-size: 16px;
    color: #111;
}

nav a:nth-child(5){
    border: none;
}
.border-bot {
    border-bottom: 2px solid #ffbc00;
    padding-bottom: 7px;
}

.img-box {
    width: 100%;
    height: auto;
    font-size: 0;
}

.img-box img {
    width: 100%;
    height: 100%;
}
.kemi_footer{
    width: 100%;
    /*height: 205px;*/
    background-color: #000000;
    color: #818181;
    cursor: default;
    /*border-bottom: 1px solid #000000;*/
}
.footer-content{
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
}
.footer-content-left{
    width: 80%;
}
.footer-content-left p{
    line-height: 30px;
    font-size: 12px;
}
.footer-content-left p:nth-child(3){
    color: #808080;
    font-size: 21px;
    letter-spacing: 1px;
}
.footer-contents{
    width: 50%;
    float: left;
}
.footer-contents a{
    display: block;
    font-size: 12px;
    color: #808080;
    line-height: 30px;
    cursor: pointer;
    padding-left: 50px;
}
.footer-contents a:hover{
    color: #ffbc00;
}
.footer-contents a:nth-child(1){
    margin-top: 40px;
}
.footer-content-right{
    width: 20%;
    float: right;
    font-size: 12px;
    text-align: center;
}
.footer-content-right p{
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-content-right img{
    width: 80px;
}
.footer-content-right a{
    width: 20%;
    display: block;
}
.footer-description{
    width: 60%;
    margin: 0 auto;
    color: #808080;
    text-align: left;
    font-size: 12px;
    line-height: 45px;
    padding-left: 10px;
    border-top: 1px solid #454545;
}



